@charset "UTF-8";
body{
    background-color: rgba(129, 125, 125, 0.842);
}
main{
    background-color: white;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    padding: 10px;
    box-shadow:0px 5px 34px rgba(0, 0, 0, 0.637) ;
}
p{
    text-indent: 10px;
}
h1{
    text-align: center;
}